$items: 22


*
	box-sizing: border-box
	outline: none
	&:after,
	&:before
		box-sizing: border-box

html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html, body
	height: 100%
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased

body
	color: #000
	font-size: 18px
	line-height: 1.3
	+br

a,
button
	text-decoration: none
	outline: none
	border: none
	cursor: pointer


h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1

h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em

b, strong
	font-weight: normal

p
	margin: 0

.page
	&-load
		position: fixed
		top: 50%
		left: 100%
		width: 0
		height: 0
		background-color: #e3f3f6
		margin-left: -2px
		border-radius: 100% 0 0 100%
		// +tr(.8s)
		z-index: -1000
	&.add-wave
		.page-load
			width: 200vw
			height: 200vh
			left: -100%
			top: -50%
			z-index: 1000
			border-radius: 0 100% 100% 0
			+tr(.8s)
		.load-logo
			opacity: 1
			+tr(.4s)
	&.after-wave
		.page-load
			width: 200vw
			height: 200vh
			left: -300%
			top: -50%
			+tr(.8s)
	&-footer
		position: relative
		&.section
			padding-top: 0
			min-height: auto
		+r(786)
			box-shadow: 0 0 30px rgba(0, 0, 0, .2)

.barba-container
	// &:after
	// 	content: ''
	// 	position: absolute
	// 	top: 0
	// 	left: 50%
	// 	bottom: 0
	// 	width: 2px
	// 	background: #f00
	// 	margin-left: -1px
	// 	z-index: 555
	// .section
	// 	padding-top: 90px
	.page-footer.section
		padding-top: 0

.load-logo
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	height: 60vh
	opacity: 0
	pointer-events: none
	z-index: 1200
	.logo-end
		fill: #fff

.wave-btn
	position: relative
	overflow: hidden
	+bl
	&:hover
		span
			color: $btn
		em
			width: 300%
			height: 300%
	em
		position: absolute
		width: 0
		height: 0
		display: block
		border-radius: 50%
		background-color: #d5e7eb
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out
		transform: translate(-50%, -50%)
	span
		position: relative
		z-index: 2
		+tr(.4s)

.list
	width: 200px
	margin: 120px auto
	list-style-type: none
	&__item
		margin-bottom: 1.3em
	&__link
		color: #333

.layout
	position: relative
	width: 1280px
	max-width: 100%
	padding: 0 15px
	margin: 0 auto
	&_flex
		display: flex
	&__big
		width: 1330px
	&__right
		display: inline-block
		vertical-align: top
		width: 50%
		padding: 90px 20px 60px 10%
		margin-left: auto


.section
	position: relative
	min-height: 100vh
	overflow: hidden
	+r(768)
		min-height: auto
	&__header
		margin-bottom: 80px
		.title__section
			text-transform: uppercase
		.desc
			display: inline-block
			width: 100%
			max-width: 320px
	.main-logo
		position: absolute
		display: inline-block
		vertical-align: top
		height: 40vh
	.logo-f
		top: -10%
		height: 40vh
		fill: #d5e7eb
	.logo-end
		left: 70%
		height: 40vh
		bottom: -10%
		fill: #d5e7eb
	.link__more
		display: inline-block
		vertical-align: top

	.layout
		display: flex
		flex-direction: column
		justify-content: center
		// use scroll
		// height: 100vh
		// overflow: hidden
		//end use scroll

		height: 100%
		min-height: 100vh

		padding: 140px 15px 60px
		+r(768)
			height: auto
			min-height: auto

.custom-scroll
	overflow: hidden
	height: 100vh
	+r(850)
		height: auto

.main-logo
	.logo-shape
		stroke: #fffffe
		stroke-width: .582

.socio
	&__link
		display: inline-block
		vertical-align: top
		padding: 0 10px
		&:first-child
			padding-left: 0
		&:hover
			.socio__icon
				fill: #e3f3f6
	&__icon
		display: inline-block
		vertical-align: top
		height: 24px
		fill: $btn
		+tr(.4s)

.subscribe
	display: block
	width: 100%
	&__fieldset
		position: relative
		width: 100%
		border: 1px solid $btn
		margin: 0
		padding: 0
		font-size: 0
	&__btn
		height: 100%
		width: 120px
		text-align: center
		display: inline-block
		vertical-align: top
		padding: 10px 0px
		background-color: $btn
		color: #fff
		font-size: 18px
		+bl
	&__label
		position: absolute
		top: 10px
		left: 12px
		pointer-events: none
		user-select: none
		font-size: 18px
		color: $text
		+bl
#subscribe__input
	display: inline-block
	vertical-align: top
	width: calc(100% - 120px)
	height: 40px
	font-size: 18px
	line-height: 40px
	border: none
	padding: 0 0 0 12px
	margin: 0
	color: $text
	+bl

.center-text
	text-align: center
.md-center-text
	+r(768)
		text-align: center

.circle__bg
	position: absolute
	top: 0
	left: 0%
	width: 70%
	height: 100%
	img
		min-height: 100%
		max-width: 100%
		clip-path: circle(80% at 0% 50%)

.team
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 0
		margin: 0
		list-style-type: none
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		text-align: center
		width: 48%
		transform: translate3d(0, 0, 0) scale(0)
		transition: .6s
		.team-c
			position: relative
			&:after
				content: ''
				position: absolute
				top: -130px
				left: -130px
				bottom: -130px
				right: -130px
				border: 1px solid #d0d0d0
				border-bottom-color: transparent
				border-radius: 100%
				animation: rotation 40s
	&__pic
		position: relative
		margin: 0 auto 30px
		text-align: center
		width: 80%
		max-width: 154px
		height: 154px
		&_wrap
			position: relative
			width: 100%
			height: 100%
			border-radius: 100%
			margin: 0 auto
			box-shadow: 0 0 14px rgba(0, 0, 0, .3)
			overflow: hidden
	&__img
		+vcenter
		min-width: 100%
		min-height: 100%
	.desc_l
		color: #000
	.video__bg
		background-color: #f4f9fa
	.title__section
		color: #000

@for $i from 1 through $items
	.team__item:nth-of-type(#{$i})
		transition-delay: #{$i * 0.2 + s}

.team.active
	.team__item
		transform: translate3d(0, 0, 0) scale(1)


.map
	display: inline-block
	vertical-align: top
	width: 48%
	height: 380px
	border-radius: 10px
	box-shadow: 0 0 14px rgba(0, 0, 0, .3)
	+r(768)
		margin-top: 60px

// .fp-tableCell,
// .section
// 	overflow: auto