<div class="section subheader">
	<div class="subhead__bg">
		<div class="circle__bg">
			<img src="static/img/content/subheader-1.png" alt="subheader picture" class="circle__bg_img">
		</div>
	</div>
	<div class="layout layout_flex">
		<div class="layout__right">
			<h2 class="title__main" role="heading" aria-level="2" >why float</h2>
			<p class="desc desc_l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam harum impedit, fuga distinctio quod ipsam atque ratione blanditiis fugiat, illum dolorem quidem! Vitae non, tempora maxime error, recusandae dignissimos tempore aperiam. Est quae non dolores laborum excepturi vitae earum ab magni commodi perspiciatis architecto quisquam, temporibus iusto quaerat quibusdam, a saepe quis voluptas nisi. </p>
			<p class="desc desc_l">Doloremque odit vitae inventore asperiores, ipsam voluptatem tenetur nemo assumenda velit. Labore, fugiat deserunt quo velit laborum quae sed nisi dolor exercitationem quidem alias fuga amet, quod optio magni dolorem. Dignissimos maxime provident eius quod voluptates officia, voluptatibus quas incidunt quo, architecto odit tempore illum ex.</p>
		</div>
		<a href="#" class="next__section js-nextSection">
			<img src="static/img/content/arrowDown.png" alt="to next section">
		</a>
	</div>
</div>
