.footer

	&__column
		+r(1024)
			width: 50%
			margin-bottom: 20px
		+r(768)
			width: 100%
		&_wide
			flex: 0 1 450px
			+r(1200)
				flex: 0 1 380px
			+r(1024)
				width: 50%
				flex: 0 1 auto
			+r(768)
				width: 100%
	&__heading
		font-size: 14px
		text-transform: uppercase
		color: $text
		letter-spacing: .1
		line-height: 1.4
		margin-bottom: 30px
		+r(768)
			margin-bottom: 1em
	&__list
		padding: 0
		margin: 20px 0 0
		list-style: none
	&__item
		display: block
		color: $text
		font-size: 16px
		line-height: 2
	&__link
		color: inherit
		+tr(.4s)
		&:hover
			color: #333
	.layout
		width: 100%
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 70px 15px 50px
		+r(1024)
			flex-wrap: wrap
	.main-logo
		height: 130px
		display: inline-block
		vertical-align: top
