<div class="section clients" id="clients">
	<div class="clients__bg">
		<img class="clients__bg_ice" src="static/img/content/ice.png" alt="ice image">
		<img  class="clients__bg_water" src="static/img/content/water.png" alt="water img">
	</div>

	<div class="custom-scroll">
		<div class="layout center-text">
			<div class="section__header">
				<h2 class="title__section" role="heading" aria-level="2">our clients</h2>
			</div>
			<div class="clients__content">
				<div class="clients__top">
					<div class="clients__nav">
						<button class="btn btn-prev">
							<svg class="leftArrow" viewBox="0 0 18 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<path d="M12.1209908,0.180471502 C11.8757701,-0.0601571674 11.4676405,-0.0601571674 11.2138457,0.180471502 C10.968625,0.412970825 10.968625,0.799927739 11.2138457,1.03188511 L15.8135916,5.39300876 L0.635058749,5.39300876 C0.281232137,5.39355072 0,5.6601933 0,5.99566435 C0,6.3311354 0.281232137,6.60644928 0.635058749,6.60644928 L15.8135916,6.60644928 L11.2138457,10.9594436 C10.968625,11.2000723 10.968625,11.5875711 11.2138457,11.8195285 C11.4676405,12.0601572 11.8763417,12.0601572 12.1209908,11.8195285 L17.8096539,6.42597778 C18.0634487,6.19347846 18.0634487,5.80652154 17.8096539,5.57456418 L12.1209908,0.180471502 Z"></path>
							</svg>
						</button>

						<button class="btn btn-next">
							<svg class="rightArrow" viewBox="0 0 18 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<path d="M12.1209908,0.180471502 C11.8757701,-0.0601571674 11.4676405,-0.0601571674 11.2138457,0.180471502 C10.968625,0.412970825 10.968625,0.799927739 11.2138457,1.03188511 L15.8135916,5.39300876 L0.635058749,5.39300876 C0.281232137,5.39355072 0,5.6601933 0,5.99566435 C0,6.3311354 0.281232137,6.60644928 0.635058749,6.60644928 L15.8135916,6.60644928 L11.2138457,10.9594436 C10.968625,11.2000723 10.968625,11.5875711 11.2138457,11.8195285 C11.4676405,12.0601572 11.8763417,12.0601572 12.1209908,11.8195285 L17.8096539,6.42597778 C18.0634487,6.19347846 18.0634487,5.80652154 17.8096539,5.57456418 L12.1209908,0.180471502 Z" ></path>
							</svg>
						</button>
					</div>

					<div class="clients__face">
						<div class="clients__pic">
							<img src="static/img/content/client1.png" alt="client picture" class="clients__img">
						</div>
						<div class="clients__pic">
							<img src="static/img/content/client1.png" alt="client picture" class="clients__img">
						</div>
						<div class="clients__pic">
							<img src="static/img/content/client1.png" alt="client picture" class="clients__img">
						</div>
						<div class="clients__pic">
							<img src="static/img/content/client2.png" alt="client picture" class="clients__img">
						</div>
						<div class="clients__pic">
							<img src="static/img/content/client3.png" alt="client picture" class="clients__img">
						</div>
					</div>
				</div>

				<div class="clients__bottom">
					<div class="clients__text">
						<p class="desc_s">I loved Freeze & Float spa , I loved the people providing the service there, Always smiling always nice, they are so friendly that i really missed them during the rest of my trip and they made it harder for the other hotel staff to beat their friendly nice service.</p>
						<em>Alex Nowak, Canada</em>
					</div>
					<div class="clients__text">
						<p class="desc_s">I loved Freeze & Float spa , I loved the people providing the service there, Always smiling always nice, they are so friendly that i really missed them during the rest of my trip and they made it harder for the other hotel staff to beat their friendly nice service.</p>
						<em>Alex Nowak, Canada</em>
					</div>
					<div class="clients__text">
						<p class="desc_s">I loved Freeze & Float spa , I loved the people providing the service there, Always smiling always nice, they are so friendly that i really missed them during the rest of my trip and they made it harder for the other hotel staff to beat their friendly nice service.</p>
						<em>Alex Nowak, Canada</em>
					</div>
					<div class="clients__text">
						<p class="desc_s">I loved Freeze & Float spa , I loved the people providing the service there, Always smiling always nice, they are so friendly that i really missed them during the rest of my trip and they made it harder for the other hotel staff to beat their friendly nice service.</p>
						<em>Alex Nowak, Canada</em>
					</div>
					<div class="clients__text">
						<p class="desc_s">I loved Freeze & Float spa , I loved the people providing the service there, Always smiling always nice, they are so friendly that i really missed them during the rest of my trip and they made it harder for the other hotel staff to beat their friendly nice service.</p>
						<em>Alex Nowak, Canada</em>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
