
.page-header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 24px 0
	border-bottom: 1px solid #fff
	background-color: rgba(255, 255, 255, 1)
	z-index: 2000
	+tr(.6s)
	+r(850)
		border: none
		background-color: $n
		+tr(.6s)
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background-color: #e3f3f6
		+r(850)
			content: none
	&.is-fixed
		background-color: #fff
		height: 74px
		opacity: 1
		.header__logo
			top: -15px
		.header__burger
			top: -10px

	&.page-scrolled
		padding: 8px 0
		.header__btn
			padding: 5px 30px
		.header__logo
			top: -4px
		.main-logo
			height: 36px
	&-bg
		background-color: #fff
	.socio,
	.header__nav
		+r(850)
			margin-bottom: 50px

.main-logo
	display: inline-block
	height: 57px
	+r(850)
		height: 50px
	// width: 64px

.header
	&__logo
		position: absolute
		top: -8px
		left: 50%
		+trx(-50%)
		z-index: 1
		+r(850)
			left: 15px
			+trx(0)
	&__wrap
		display: flex
		align-items: center
		justify-content: space-between
		+r(850)
			flex-direction: column
			justify-content: center
			position: fixed
			top: 0
			// right: 0
			left: 100%
			bottom: 0
			width: 100vw
			background: rgba(255, 255, 255, .9)
			transition: .4s
		&.is-active
			left: 0
	&__nav
		position: relative
		display: flex
		align-items: center
		justify-content: space-between
		+r(850)
			flex-direction: column
	&__list
		font-size: 0
		padding: 0
		margin: 0
		&:first-child
			margin-right: 90px
			+r(850)
				margin: 0
		&:last-child
			margin-left: 90px
			+r(850)
				margin: 0
	&__item
		position: relative
		display: inline-block
		position: relative
		padding: 14px 10px
		+r(850)
			display: block
			text-align: center
			margin-bottom: 15px
		&.is-active
			.header__link
				&:after
					content: ''
	&__link
		position: relative
		font-size: 14px
		color: #555b5c
		text-transform: uppercase
		+tr(.4s)
		+r(850)
			padding: 4px
		&:after
			content: none
			position: absolute
			top: 120%
			left: 30%
			right: 30%
			height: 1px
			background-color: #333
			+tr(.4s)
		&:hover
			color: #333
	&__btn
		position: relative
		display: inline-block
		vertical-align: top
		text-align: center
		padding: 10px 30px
		background-color: $btn
		font-size: 18px
		letter-spacing: 1px
		color: #fff

	&__spin
		position: absolute
		top: 22px
		left: 50%
		display: inline-block
		vertical-align: top
		height: 1px
		width: 0px
		background-color: #555b5c
		+tr(.6s)
		// +trx(-25%)
	&-inner
		background-color: rgba(255, 255, 255, 1)
		border-bottom: none
		+tr(.6s)
		+r(850)
			height: 86px

.header__burger
	position: absolute
	top: -6px
	right: 15px
	display: inline-block
	vertical-align: top
	width: 40px
	height: 40px
	cursor: pointer
	margin: auto
	transition: all 0.3s ease-out
	z-index: 100
	display: none
	+r(850)
		display: block
	span
		display: block
		width: 40px
		height: 5px
		background-color: #000000
		transition: all 0.3s ease-out
		+try(18px)
		z-index: 100
		&::after
			content: ' '
			position: relative
			display: block
			top: 5px
			width: 40px
			height: 5px
			background-color: #000000
			transition-property: transform, top
			transition-delay: 0s, 0.2s
		&::before
			position: relative
			display: block
			content: ' '
			bottom: 10px
			width: 40px
			height: 5px
			background-color: #000000
			transition-property: transform, bottom
			transition-delay: 0s, 0.2s
	&.is-active
		span
			background-color: transparent
			&::before
				bottom: 0
				transform: rotate(45deg)
				transition-property: bottom, transform
				transition-duration: 0.2s, 0.2s
				transition-delay: 0s, 0.2s
			&::after
				top: -5px
				transform: rotate(-45deg)
				transition-duration: 0.2s, 0.2s
				transition-property: top, transform
				transition-delay: 0s, 0.2s

.submenu
	position: absolute
	top: 100%
	left: 0
	font-size: 0
	padding: 16px 10px
	margin: 0
	background-color: #e3f2f5
	box-shadow: 0 2px 2px rgba(51, 51, 51, .2)
	z-index: 1
	opacity: 1
	transform-origin: 0 0
	transform: rotateX(90deg)
	+tr(.8s)
	+r(850)
		left: 50%
		transform: rotateX(90deg) translateX(-50%)
	&__item
		// display: inline-block
		vertical-align: top
		margin-bottom: 10px
		white-space: nowrap
	&__link
		position: relative
		font-size: 14px
		color: #555b5c
		text-transform: uppercase
		+tr(.4s)
		+r(850)
			padding: 4px
		&:after
			content: ''
			position: absolute
			top: 120%
			left: 30%
			right: 30%
			height: 1px
			opacity: 0
			background-color: #333
			+tr(.4s)
		&:hover
			+try(5px)
			color: #333
			&:after
				content: ''
				opacity: 1

.has-submenu
	&:hover
		span:after
			transform: translate(-50%, -50%) rotate(0deg)
		.submenu
			opacity: 1
			transform: translateX(-50%) rotateX(0)
	span
		+r(850)
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 110%
				right: 0
				height: 2px
				width: 14px
				background-color: #555b5c;
				transform: translate(-50%, -50%)
			&:after
				content: ''
				position: absolute
				top: 50%
				left: 110%
				right: 0
				height: 2px
				width: 14px
				background-color: #555b5c;
				transform: translate(-50%, -50%) rotate(90deg)
				+tr(.4s)

