$items: 12

.service
	min-height: 100vh
	&__bg
		+coverdiv
		background-color: #e3f3f6

	&__list
		font-size: 0
		list-style-type: none
		padding: 0 0 40px
		margin: 0 0 -30px
		text-align: center
		+r(650)
			margin: 0
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		height: 432px
		width: calc(25% - 30px)
		margin-left: 30px
		margin-bottom: 20px
		border-radius: 10px
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2)

		transform: rotateY(-90deg)
		transform-origin: 0 50%
		transition: .4s .4s
		+r(1200)
			width: calc(33% - 30px)
		+r(940)
			width: calc(50% - 30px)
		+r(850)
			transform: rotateY(0deg)
		+r(650)
			width: 100%
			margin-left: 0

		&_picture
			+coverdiv
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 200%
				+g($n, rgba(49, 89, 99, .8))
				+tr(1s)
				z-index: 2
		&_img
			+vcenter
			width: 100%
			height: auto
			min-height: 100%
			+tr(1s)
		&_footer
			position: absolute
			bottom: 0
			left: 0
			right: 0
			display: block
			padding: 26px
			text-align: left
			z-index: 5
		&_content
			position: absolute
			top: 0%
			left: 0
			right: 0
			height: 100%
			padding: 50px 30px
			text-align: left
			opacity: 0
			+tr(.4s)
			z-index: 10
	&__link
		position: relative
		display: block
		height: 100%
		border-radius: 10px
		overflow: hidden
		z-index: 3
		&:hover
			.link__more svg
				+trx(10px)
			.service__item
				&_img
					transform: translate(-50%, -50%) scale(1.1)
				&_picture:before
					background-color: rgba(49, 89, 99, .8)
					top: -100%
				&_content
					opacity: 1
		.desc_l
			opacity: 1
	.logo-f
		height: 76vh
		left: 180%
		+trx(-180%)
	.logo-end
		left: 0%
		height: 50vh
	.title__section
		color: #333742
		text-transform: uppercase
		+btl

@for $i from 1 through $items
	.service__item:nth-of-type(#{$i})
		transition-delay: #{$i * 0.2 + s}

.waved
	.service__item
		&:nth-child(2n)
			margin-top: 5%
			.service__item_footer:before
				background-position-x: 80%
			&:hover
				.service__item_footer:before
					background-position-x: 0%
		&:nth-child(3n)
			margin-top: 2%
		&:nth-child(4n)
			margin-top: 6%
		&:hover
			.service__item_footer:before
				background-position-x: 80%
		&_footer
			background-color: #fff
			padding: 26px
			&:before
				content: ''
				position: absolute
				bottom: 100%
				left: 0
				right: 0
				height: 30px
				background-image: url('../img/content/wave-service.png')
				background-size: 160% 100%
				background-position-x: 0%
				+tr(.4s)


		.link__more
			display: flex
			justify-content: space-between
			align-items: center
			color: #000
		#right-arrow
			fill: #000


.service.active
	.service__item
		transform: rotateY(0deg)